@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Poppins:wght@500&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

// Logo
.logo {
    position: relative;
    font-size: 1.5em;
    padding-left: 1em;
}

// Navbar
.navbar {
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 1em;
    .navbar-contents {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .navbar-contents-description {
        position: relative;
        padding-right: 1em;
    }
}

// logout button
.logout-link {
    text-decoration: none;
    text-align: center;
    color: #ddd;
}

// Tabs
.MuiTabs-flexContainer {
    background-color: #2a2b4c;
    color: #ddd;
}

.PrivateTabIndicator-root-2.PrivateTabIndicator-colorSecondary-4.MuiTabs-indicator {
    background-color: #ddd;
}

.MuiButton-root {
    background-color: #2a2b4c !important;
    color: #ddd !important;
    font-family: "Poppins", sans-serif;
}

.tab-header {
    text-align: center;
    padding-bottom: 1em;
    font-size: 1.5em;
    font-family: "Poppins", sans-serif;
}
.tab-points {
    font-family: "Poppins", sans-serif;
}
// cards
.cards-container {
    font-family: "Poppins", sans-serif;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 0 0 1;
}
.cards {
    position: relative;
    display: flex;
    border-radius: 15px;
    width: 25%;
    margin: 0 5% 2.5% 0;
    padding: 1em;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75);
}
.cards-empty {
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.makeStyles-paper- {
    border: none !important;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    &:focus {
        outline: none;
    }
}
.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    text-align: center;
    .description {
        display: none;
        width: 50%;
        padding: 2em;
    }

    .login-register {
        width: 50%;
        position: relative;
        justify-content: end;
    }
}
.form {
    display: flex;
    flex-direction: column;
    // background-color: #f00;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    form {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    input,
    button {
        margin: 0.5em 1em;
        height: 2.5em;
        border-radius: 4px;
        border: 1px solid #16161d;
        font-size: 1em;
    }

    button {
        background-color: #2a2b4c;
        color: #ddd;
        border: none;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
            transition: 0.5s ease-in;
        }
    }
}

@media screen and(max-width: 992px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .tab-points {
        text-align: center;
    }
    .tab-header {
        padding-bottom: 0em;
        // margin-bottom: 0em;
    }
    .cards-container {
        flex-direction: column;
    }
    .cards {
        width: 90%;
    }
    .makeStyles-paper-7 {
        top: 0;
        left: 0;
        margin: 0 5% !important;
        width: 90% !important;
    }
}
